.Books {
  position: relative;
  height: 100vh;
  width: 100%;
}

.Books__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../toltec.webp');
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
}

.Books__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  max-width: 800px;
}

.Books__content table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.Books__content th,
.Books__content td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.Books__content th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.Books__content tr:nth-child(even) {
  background-color: #f2f2f283;
}

.Books__content button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 10px;
  font-size: 14px;
}

.Books__content span {
  color: white;
  font-size: 14px;
}

.Books__content button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.Books__content button:hover {
  opacity: 0.8;
}

.Books__addBook {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.Books__addBook input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.Books__addBook input:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
