.HomePage {
  position: relative;
  height: 100vh;
  width: 100%;
}

.HomePage__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../toltec.webp');
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
}

.HomePage__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  max-width: 800px;
}

.HomePage__button {
  position: fixed;
  top: 80vh;
  left: 50%;
  height: 0;
  transform: translate(-50%, -50%);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  -webkit-text-stroke: 10% black;
  -webkit-text-fill-color: white;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.HomePage__button:hover {
  background-color: #813119c4;
  opacity: 0.8;
}

.HomePage__content span {
  color: white;
  font-size: 14px;
}
